.ticket-wrapper {
  background-color: #ffdce5;
  margin-right: 20px;
}

.ticket-wrapper:not(:last-child) {
   border-bottom: 1px dashed black;
}

div.number-wrapper {
  box-shadow: -12px 0 6px -6px #375b60;
}

.ticket-container > div:first-child {
  padding: 10px 0;
}
