.ticket-container > div.ticket-wrapper:not(:last-child) {
   border-bottom: 1px dashed black;
}

.ticket-container > div.ticket-wrapper {
  box-shadow: -12px 0 6px -6px #375b60;
  margin: 0 20px;
}

.ticket-container > div:first-child {
  padding: 10px 0;
}

span {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
