.App {
  text-align: center;
  background: linear-gradient(#00646f, #39a3ae);
  height: 100%;
  min-height: 800px;
}

.App-header {
  background-color: #fff;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
