.App {
  text-align: center;
  background: linear-gradient(#00646f, #39a3ae);
  height: 100%;
  overflow:auto;
}

.App-header {
  background-color: #fff;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.play-button {
  background-color: #007d00;
  color: #fff;
  background: linear-gradient(to bottom, #6bb56f 0%, #1b8e44 50%, #007d3f 51%, #186331 100%);
  border: 1px black solid;
  Outline: none; /* Fix issue with border radius on click */
  border-radius: 10px;
  padding: 8px 16px;
}

.play-button:hover {
  background-color: #000;
  opacity:0.8;
  cursor: pointer;
}

div.called-number-list {
  height: 100%;
}

div.number {
  padding: 2px 2px;
  margin: 4px 12px;
  min-width: 46px;
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  border-bottom: 2px #303030 solid;
}

div.called-number {
  transition: all .5s;
  color: #fff;
  border-bottom: 2px #fff solid;
}

.called-number-lg {
  margin: 40px 0;
  min-height: 45px;
}

span.text-lg {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
